.concepto {
    @include fullContainer();
    @include flexCenter(colum,center,center,center,nowrap);
    h2 {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
    }
    &__info {
        background-color: $black;
        color: $white;
        padding: 1.5rem 5rem;
        width: 30%;
        h2 {
            text-transform: uppercase;
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }

}