header{
    @include flexCenter(row, space-between, center, center, wrap);
    padding:0 2rem;
    margin: 0;
    background-color: $darkGrey;
    color: $white;
    nav {
        a {
            text-transform: capitalize;
            text-decoration: none;
            color: $white;
            margin: 0 0.5rem;
            &:hover {
                border-bottom: 1px solid $primaryColor;
            }
        }
    }
}